# 01. 파이썬 시작하기 (001~010)

In [1]:
# 001. print 기초
print('Hello World')

Hello World

In [2]:
# 002. print 기초
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# 003. print 기초
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [8]:
# 004. print 기초
print("C:\\Windows")

C:\Windows

In [9]:
# 005. print탭과 줄바꿈
print('안녕하세요.\n만나서\t\t반갑습니다.')

안녕하세요.
만나서		반갑습니다.

In [10]:
# 006. print 여러 데이터 출력
print("오늘은", "일요일")

오늘은 일요일

In [11]:
# 007. print 기초
print('naver','kakao','sk','samsung',sep=';')

naver;kakao;sk;samsung

In [13]:
# 008. print 기초
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

In [15]:
# 009. print 줄바꿈
print('first',end="");print('second')

firstsecond

In [16]:
# 010. 연산 결과 출력
print(5/3)

1.6666666666666667

# 02. 파이썬 변수 (011~020)

In [18]:
# 011. 변수 사용하기
삼성전자=50000
print(삼성전자*10)

# 삼성전자 = 50000
# 총평가금액 = 삼성전자 * 10
# print(총평가금액)

500000

In [23]:
# 012. 변수 사용하기
시가총액=290000000000
현재가=50000
PER=15.79
print(f"시가총액: {시가총액}")
print(f"현재가: {현재가}")
print(f"PER: {PER}")

시가총액: 290000000000
현재가: 50000
PER: 15.79

In [27]:
# 013. 문자열 출력
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [28]:
# 014. 파이썬을 이용한 값 계산
2+2*3

8

In [30]:
# 015. type 함수
a = "132"
print(type(a))

<class 'str'>

In [33]:
# 016. 문자열을 정수로 변환
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [37]:
# 017. 정수를 문자열 100으로 변환
num=100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [39]:
# 018. 문자열을 실수로 변환
num_str = "15.79"
num_float = float(num_str)
print(num_float, type(num_float))

15.79 <class 'float'>

In [41]:
# 019. 문자열을 정수로 변환
year = "2020"
year_int = int(year)
print(year_int-2, year_int-1, year_int)

2018 2019 2020

In [42]:
# 020. 파이썬 계산
월 = 48584
ac_total = 월 * 36
print(ac_total)

1749024