# 01. 파이썬 시작하기 (001~010)

In [1]:
# 001. print 기초
print('Hello World')

Hello World

In [2]:
# 002. print 기초
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# 003. print 기초
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [8]:
# 004. print 기초
print("C:\\Windows")

C:\Windows

In [9]:
# 005. print탭과 줄바꿈
print('안녕하세요.\n만나서\t\t반갑습니다.')

안녕하세요.
만나서		반갑습니다.

In [10]:
# 006. print 여러 데이터 출력
print("오늘은", "일요일")

오늘은 일요일

In [11]:
# 007. print 기초
print('naver','kakao','sk','samsung',sep=';')

naver;kakao;sk;samsung

In [13]:
# 008. print 기초
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

In [15]:
# 009. print 줄바꿈
print('first',end="");print('second')

firstsecond

In [16]:
# 010. 연산 결과 출력
print(5/3)

1.6666666666666667

# 02. 파이썬 변수 (011~020)

In [18]:
# 011. 변수 사용하기
삼성전자=50000
print(삼성전자*10)

# 삼성전자 = 50000
# 총평가금액 = 삼성전자 * 10
# print(총평가금액)

500000

In [23]:
# 012. 변수 사용하기
시가총액=290000000000
현재가=50000
PER=15.79
print(f"시가총액: {시가총액}")
print(f"현재가: {현재가}")
print(f"PER: {PER}")

시가총액: 290000000000
현재가: 50000
PER: 15.79

In [27]:
# 013. 문자열 출력
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [28]:
# 014. 파이썬을 이용한 값 계산
2+2*3

8

In [30]:
# 015. type 함수
a = "132"
print(type(a))

<class 'str'>

In [33]:
# 016. 문자열을 정수로 변환
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [37]:
# 017. 정수를 문자열 100으로 변환
num=100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [39]:
# 018. 문자열을 실수로 변환
num_str = "15.79"
num_float = float(num_str)
print(num_float, type(num_float))

15.79 <class 'float'>

In [41]:
# 019. 문자열을 정수로 변환
year = "2020"
year_int = int(year)
print(year_int-2, year_int-1, year_int)

2018 2019 2020

In [42]:
# 020. 파이썬 계산
월 = 48584
ac_total = 월 * 36
print(ac_total)

1749024

# 파이썬 문자열 (021~050)

In [1]:
# 021. 문자열 인덱싱
letters = 'python'
print(letters[0], letters[2])

p t

In [2]:
# 022. 문자열 슬라이싱
license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [3]:
# 023. 문자열 인덱싱
string = '홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [5]:
# 024. 문자열 슬라이싱
string = "PYTHON"
print(string[::-1])

NOHTYP

In [8]:
# 025. 문자열 치환
phone_number = '010-1111-2222'
phone_number1 = phone_number.replace("-"," ")
print(phone_number1)

010 1111 2222

In [9]:
# 026. 문자열 다루기
phone_number2 = phone_number.replace("-", "")
print(phone_number2)

01011112222

In [16]:
# 027. 문자열 다루기
url = 'http://sharebook.kr'
print(url[-2:])

# 모범답인
url_split = url.split('.')
print(url_split[-1])

kr
kr

In [17]:
# 028. 문자열은 immutable
lang = 'python'
lang[0] = 'p'
print(lang)

TypeError: 'str' object does not support item assignment

In [18]:
# 029. replace 메서드
string = 'abcdfe2a354a32a'
string_cap = string.replace("a", "A")
print(string_cap)

Abcdfe2A354A32A

In [20]:
# 030. replace 메서드
string = 'abcd'
string.replace('b','B')
print(string)

abcd

In [21]:
# 031. 문자열 합치기
a ='3'
b = '4'
print(a+b)

34

In [22]:
# 032. 문자열 곱하기
print("Hi" * 3)

HiHiHi

In [23]:
# 033. 문자열 곱하기
print('-'*80)

--------------------------------------------------------------------------------

In [26]:
# 034. 문자열 곱하기
t1 = 'python'
t2 = 'java'
print((' python'+' java')*4)

 python java python java python java python java

In [28]:
# 035. 문자열 출력
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13
print(f"이름: {name1} 나이: {age1}\n이름: {name2} 나이: {age2}")

# 모범답인
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [30]:
# 036. 문자열 출력
# 모범답안
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [31]:
# 037. 문자열 출력
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13
print(f"이름: {name1} 나이: {age1}\n이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [33]:
# 038. 컴마 제거하기
상장주식수 = '5,969,782,550'
상장주식수 = 상장주식수.replace(",", "")
print(int(상장주식수), type(상장주식수))

5969782550 <class 'str'>

In [37]:
# 039. 문자열 슬라이싱
분기 = '2020/03(E) (IFRS연결)'
print(분기[:7])

2020/03

In [38]:
# 040. strip 메서드
data = "   삼성전자    "
data.strip()

'삼성전자'

In [39]:
# 041. upper 메서드
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [40]:
# 042. lower 메서드
ticker = "BTC_KRW"
ticker_low = ticker.lower()
print(ticker_low)

btc_krw

In [41]:
# 044. endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [42]:
# 045. endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith('xlse' or 'xls')

False

In [1]:
# 046. startswith 메서드
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [3]:
# 047. split 메서드
a = "hello world"
a.split()

['hello', 'world']

In [4]:
# 048. split 메서드
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [5]:
# 049. split 메서드
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [6]:
# 050. rstrip 메서드
data = "039490     "
data.rstrip()

'039490'

# 파이썬 리스트 (051-070)

In [15]:
# 051.리스트 생성
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [16]:
# 052
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [17]:
# 053
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [18]:
# 054
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [19]:
# 055
del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [22]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [27]:
# 057
nums = [1, 2, 3, 4, 5, 6, 7]
print(f"max: {max(nums)}\nmin: {min(nums)}")

# 모범답안
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max: 7
min: 1
max:  7
min:  1

In [28]:
# 058
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [29]:
# 059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [32]:
# 060
nums = [1, 2, 3, 4, 5]
average = sum(nums)/len(nums)
average

3.0

In [33]:
# 061
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [36]:
# 062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [37]:
# 063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [40]:
# 064
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [42]:
# 065
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [46]:
# 066. join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [47]:
# 067. join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [48]:
# 068. join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [50]:
# 069. 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [56]:
# 070. 리스트 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

# or
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플 (071 ~ 080)

In [58]:
# 071
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [59]:
# 072
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [64]:
# 073
my_tuple = (1)
type(my_tuple)

int

In [65]:
# 074
t = (1, 2, 3)
t[0] = 'a'

# 오류가 발생하는 원인: tuple은 원소값을 변경할 수 없으므로

TypeError: 'tuple' object does not support item assignment

In [66]:
# 075
t = 1, 2, 3, 4
type(t)

tuple

In [69]:
# 076
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

In [71]:
# 077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list[interest]
print(data)

list['삼성전자', 'LG전자', 'SK Hynix']

In [72]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
data

('삼성전자', 'LG전자', 'SK Hynix')

In [75]:
# 079. 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [79]:
# 080. range 함수
# 답
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 파이썬 딕셔너리 (081 ~ 100)